<%- include('../elements/header-login') %>
<body>
	<%- include('../elements/form-login') %>
	
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="/login/js/main.js"></script>

</body>
</html>