<%- include('../elements/header/header_home') %>

<body>
	<%- include('../elements/navbar') %>
	
	<!--CONTENT START-->
	<div class="module_maxwidth">
		
		<div class="module_maxwidth container">
			<div class="slide">
				<div class="item" style="background-image: url('../layouts_user/image/slide.png');">
					<div class="content">
						<div class="text">
							<p>Join LIPS to Unveil Next-Gen Edge-AI & Low-Latency 3D Robotic Vision Solution</p>
						</div>
						<div class="slide1-1"><img src="../layouts_user/image/slide1_01.png" alt="slide1-1"></div>
						<div class="slide1-2"><img src="../layouts_user/image/slide1_02.png" alt="slide1-2"></div>
						<div class="slide1-bottom">
							<div class="slidelogo"><img src="../layouts_user/image/LIPS_Logo.png" height="100px" alt="logo"></div>
							<div class="slide1-3"><img src="../layouts_user/image/slide1_03.png" alt="slide1-3"></div>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url('../layouts_user/image/slide.png');">
					<div class="content">
						<div class="text">
							<h3>LIPSedge™ <br />SDK 1.x</h3>
							<h4>Build Once, Deploy <br />Unlimitedly</h4>
							<p>The use of LIPSedge™ SDK 1.x <br />simplifies the development process, <br />and speeds-up
								the deployment</p>
						</div>
						<div class="slide2-1"><img src="../layouts_user/image/slide2.png"></div>
					</div>
				</div>
				<div class="item" style="background-image: url('../layouts_user/image/slidebg.png');">
					<div class="content">
						<div class="text">
							<h3>LIPSedge™ F110 3DxAI Edge Accelerator</h3>
							<p>World's First NVIDIA Jetson AGX Xavier-based PCIe Endpoint-mode Edge Accelerator
								Designed to Accelerate 3D Vision and AI Applications</p>
						</div>
						<div class="slide3-1"><img src="../layouts_user/image/slide3.png"> </div>
					</div>
				</div>
				<div class="item" style="background-image: url('../layouts_user/image/slidebg.png');">
					<div class="content">
						<div class="text">
							<h3>Most Comprehensive 3D Depth Camera & AI-based Middleware</h3>
							<p>Build your next 3DxAI applications with LIPS</p>
						</div>
						<div class="slide4-1"><img src="../layouts_user/image/slide4.png"> </div>
					</div>
				</div>
				
			</div>
			<div class="container--btn">
				<button id="prev"><img src="../layouts_user/image/previous_icon.png" height="50px" alt="previous icon"> </button>
				<button id="next"><img src="../layouts_user/image/next_icon.png" height="50px" alt="next icon"> </button>
			</div>
			<ul class="container--dots">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<div class="clr"></div>
		</div>
		
		<div id="type-products" class="module_maxwidth">
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Active Stereo
						Camera</span></a>
			</div>
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Time-of-Flight
						Camera</span></a>
			</div>
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Structured-Light
						Camera</span></a>
			</div>
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Edge
						<br />Accelerator</span></a>
			</div>
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Multiple
						Dimensioning</span></a>
			</div>
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Facial
						<br />Recognition</span></a>
			</div>
			<div class="type_products--place_holder"><a class="type_products--btn btn-link" href="#"><span>Touchless
						<br />Interface</span></a>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="detail-types" class="module_maxwidth">
			<div class="type-product">
				<div class="content-product">
					<div class="name-product">
						<p>LIPSedge™ AE430</p>
					</div>
					<div class="img-product"><img src="../layouts_user/image/product1.png" alt="product1"> </div>
					<div class="description-product">
						<p>Compact & Light-weight Ruggedized 3D Stereo Camera for Robotics & Edge-AI</p>
					</div>
					<div class="box" id="box-product">
						<ul>
							<li>FOV 65° x 40° x 72°</li>
							<li>Rolling Shutter / IMU</li>
							<li>Range: 0.16 ~ 10m</li>
						</ul>
					</div>
					<div class="action_product">
						<div class="action_product--compare"><a class="action_product--compare--btn" href="#"><span>Compare</span></a> </div>
						<div class="action_product--buy"><a class="action_product--buy--btn" href="#"><span>Buy</span></a>
						</div>
					</div>
				</div>
				<div class="content-product">
					<div class="name-product">
						<p>LIPSedge™ AE470</p>
					</div>
					<div class="img-product"><img src="../layouts_user/image/product2.png" alt="product2"> </div>
					<div class="description-product">
						<p>Compact & Light-weight Ruggedized 3D Stereo Camera for Robotics & Edge-AI</p>
					</div>
					<div class="box" id="box-product">
						<ul>
							<li>FOV 65° x 40° x 72°</li>
							<li>Rolling Shutter / IMU</li>
							<li>Range: 0.16 ~ 10m</li>
						</ul>
					</div>
					<div class="action_product">
						<div class="action_product--compare"><a class="action_product--compare--btn btn-link" href="#"><span>Compare</span></a> </div>
						<div class="action_product--buy"><a class="action_product--buy--btn btn-link" href="#"><span>Buy</span></a></div>
					</div>
				</div>
				<div class="content-product">
					<div class="name-product">
						<p>LIPSedge™ AE400</p>
					</div>
					<div class="img-product"><img src="../layouts_user/image/product3.png" alt="product3"> </div>
					<div class="description-product">
						<p>Compact & Light-weight Ruggedized 3D Stereo Camera for Robotics & Edge-AI</p>
					</div>
					<div class="box" id="box-product">
						<ul>
							<li>FOV 65° x 40° x 72°</li>
							<li>Rolling Shutter / IMU</li>
							<li>Range: 0.16 ~ 10m</li>
						</ul>
					</div>
					<div class="action_product">
						<div class="action_product--compare"><a class="action_product--compare--btn btn-link" href="#"><span>Compare</span></a> </div>
						<div class="action_product--buy"><a class="action_product--buy--btn btn-link" href="#"><span>Buy</span></a></div>
					</div>
				</div>
				
				<div class="clr"></div>
			</div>
			<div class="buttons-product">
				<button id="prev-product"><img src="../layouts_user/image/previous_icon.png" height="50px" alt="previous icon">
				</button>
				<button id="next-product"><img src="../layouts_user/image/next_icon.png" height="50px" alt="next icon"> </button>
			</div>
		</div>
		
		<div id="sense-the-world" class="module_maxwidth">
			<div class="sense--content">
				<h3>Sense the World</h3>
				<div class="sense-the-world_picture">
					<img src="../layouts_user/image/active-stereo-vision.png" alt="active-stereo-vision">
					<p>Active Stereo Vision</p>
					<div class="down-icon"><img src="../layouts_user/image/down.png" allt="down-icon"></div>
				</div>
				<div class="sense-the-world_picture">
					<img src="../layouts_user/image/time-of-flight.png" alt="time-of-flight">
					<p>Time-of-Flight</p>
					<div class="down-icon"><img src="../layouts_user/image/down.png" allt="down-icon"></div>
				</div>
				<div class="sense-the-world_picture">
					<img src="../layouts_user/image/structed-light.png" alt="structed-light">
					<p>Structured Light</p>
					<div class="down-icon"><img src="../layouts_user/image/down.png" allt="down-icon"></div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="industrial-ready" class="module_maxwidth">
			<h3>Industrial Ready</h3>
			<div class="industrial">
				<div class="left"><img src="../layouts_user/image/industrial.PNG" alt="industrial"></div>
				<div class="right"><img src="../layouts_user/image/industrial-product1.png" alt="product1"></div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="robotic" class="module_maxwidth">
			<div class="content1">
				<h3>Low-Latency Robotic Vision</h3>
				<div class="info">
					<p>Accelerate your robotic vision with LIPSedge™ devices <br />on both x86 and ARM while fully
						supporting <br />industry widely used SDK and Wrappers</p>
				</div>
				<div class="tools">
					<img src="../layouts_user/image/intel.png" alt="intel">
					<img src="../layouts_user/image/halcon.png" alt="halcon">
					<img src="../layouts_user/image/nvidia-jetson.png" alt="halcon"><br />
					<img src="../layouts_user/image/ros.png" alt="halcon">
					<img src="../layouts_user/image/sdk2.png" alt="halcon">
					<img src="../layouts_user/image/nvidia-issac.png" alt="halcon">
				</div>
			</div>
			<div class="content2">
				<h3>Open-Root Edge Computing</h3>
				<p>LIPSedge™ devices are empowered with <br />the latest Edge Computing technology, meeting next
					generation
					A.I. <br />and Neural Processing demands.</p>
				<div class="tools">
					<img src="../layouts_user/image/arm.png" alt="arm">
					<img src="../layouts_user/image/intel-cyclone.png" alt="intel-cyclone">
					<img src="../layouts_user/image/armbarella.png" alt="armbarella">
				</div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="customized" class="module_maxwidth">
			<h2>LIPS Customized Camera Design</h2>
			<div class="customized--content">
				<div class="customized_left">
					<img src="../layouts_user/image/custom-design.png" alt="custom-design">
				</div>
				<div class="customized_right">
					<h4>3D Camera Design</h4>
					<ul>
						<li>3D depth cameras includes ToF, Stereo and Structured Light(Fixed Pattern)</li>
						<li>Edge Computing for IoT</li>
					</ul>
					<img src="../layouts_user/image/design.png" alt="design">
					<h4>3D Middleware/Algorithm/Software</h4>
					<ul>
						<li>Parallel processing(OpenCL, FPGA and DSP)</li>
						<li>Algorithms base on depth and RGB information for DL & traditional programming</li>
						<li>Customization for all tiers</li>
					</ul>
					<div class="customized_contact"><a class="customized_contact--btn btn-link" href="#"><span>Contatc
								Us</span></a></div>
					<div class="clr"></div>
				</div>
			</div>
		</div>
		
		<div id="cases" class="module_maxwidth">
			<div class="cases--content">
				<h3>Our Use Cases</h3>
				<div class="video video1">
					<iframe width="420" height="220" src="https://www.youtube.com/embed/fK6WsA_kk6c?si=YnX6xgwus2TYGIxu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<p>LIPSedge™ SDK Persistent Connection For PoE and USB</p>
				</div>
				<div class="video video2">
					<iframe width="420" height="220" src="https://www.youtube.com/embed/fK6WsA_kk6c?si=YnX6xgwus2TYGIxu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<p>LIPSedge™ SDK Persistent Connection For PoE and USB</p>
				</div>
				<div class="video video3">
					<iframe width="420" height="220" src="https://www.youtube.com/embed/fK6WsA_kk6c?si=YnX6xgwus2TYGIxu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<p>LIPSedge™ SDK Persistent Connection For PoE and USB</p>
				</div>
				<div class="load">
					<p>Load More</p>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="resources" class="module_maxwidth">
			<h3>Developer <br /> Resources</h3>
			<div class="content">
				<div class="resource-1"><a class="btn-link" href="#"><img src="../layouts_user/image/res1-icon.png" height="55px" alt="icon"><br /><span>LIPSedge™ SDK</span></a></div>
				<div class="resource-2"><a class="btn-link" href="#"><img src="../layouts_user/image/res2-icon.png" height="55px" alt="icon"><br /><span>Github</span></a></div>
				<div class="resource-3"><a class="btn-link" href="#"><img src="../layouts_user/image/res3-icon.png" height="55px" alt="icon"><br /><span>Tutorials</span></a></div>
				<div class="resource-4"><a class="btn-link" href="#"><img src="../layouts_user/image/res4-icon.png" height="55px" alt="icon"><br /><span>Documentation</span></a></div>
				<div class="resource-5"><a class="btn-link" href="#"><img src="../layouts_user/image/res5-icon.png" height="55px" alt="icon"><br /><span>FAQs</span></a></div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="where-to-buy" class="module_maxwidth">
			<h3>Where to buy</h3>
			<div class="content">
				<div class="buy-1"><a class="btn-link" href="#"><img src="../layouts_user/image/where-buy1.png" height="55px" alt="icon"><br /><span>Buy Sample</span></a></div>
				<div class="buy-2"><a class="btn-link" href="#"><img src="../layouts_user/image/where-buy2.png" height="55px" alt="icon"><br /><span>Distributors</span></a></div>
				<div class="buy-3"><a class="btn-link" href="#"><img src="../layouts_user/image/where-buy3.png" height="55px" alt="icon"><br /><span>Talk to Sales</span></a></div>
			</div>
			<div class="clr"></div>
		</div>
		
		<div id="alliance-partners" class="module_maxwidth">
			<h3>Alliance Partners</h3>
			<div class="content">
				<div class="partner-1"><a href="#"><img src="../layouts_user/image/partner-1.png" width="320px" alt="partner-1"></a>
				</div>
				<div class="partner-2"><a href="#"><img src="../layouts_user/image/partner-2.png" width="320px" alt="partner-2"></a>
				</div>
				<div class="partner-3"><a href="#"><img src="../layouts_user/image/partner-3.png" width="320px" alt="partner-3"></a>
				</div>
				<div class="partner-4"><a href="#"><img src="../layouts_user/image/partner-4.png" width="320px" alt="partner-4"></a>
				</div>
				<div class="partner-5"><a href="#"><img src="../layouts_user/image/partner-5.png" width="320px" alt="partner-5"></a>
				</div>
				<div class="partner-6"><a href="#"><img src="../layouts_user/image/partner-6.png" width="320px" alt="partner-6"></a>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		
	</div>
	<!--CONTENT-END-->
	
	<%- include('../elements/footer') %>
</body>

</html>
