<%- include('../elements/header/header_product') %>

<body>
	<%- include('../elements/navbar.ejs') %>
	<%- include('../elements/product.ejs') %>
	
	<%- include('../elements/footer') %>
</body>

</html>
