<div class="slider">  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.mvtec.com/fileadmin/_processed_/2/c/csm_2020_header-mvtec-diamond_775825fe29.jpg"
                    class="d-block w-100" alt="slide">
            </div>
        </div>
    </div>
</div>