<div class="blog_navbar wrapper module">
	<ul>
		<li><a href="#">All Posts</a></li>
		<li><a href="#">Successful Case</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">Product</a></li>
		<li><a href="#">Partner</a></li>
		<li><a href="#">Developer</a></li>
		<li><a class="btn-link" href="#"><img src="/layouts_user/image/search.png" alt="search"></a></li>
	</ul>
</div>
