<div id="footer">
	<div class="col ft_product" style="grid-area: col1;">
		<h4>Product</h4>
		<a href="#">
			<p>3D Camera</p>
		</a> <br />
		<a href="#">
			<p>3D Middleware</p>
		</a> <br />
		<a href="#">
			<p>3D Application</p>
		</a> <br />
		<a href="#">
			<p>3D System</p>
		</a>
	</div>
	<div class="col ft_support" style="grid-area: col2;">
		<h4>Support</h4>
		<a href="#">
			<p>Documentation</p>
		</a> <br />
		<a href="#">
			<p>Help Center</p>
		</a> <br />
		<a href="#">
			<p>SDK Download</p>
		</a> <br />
		<a href="#">
			<p>Code Samples</p>
		</a> <br />
		<a href="#">
			<p>Github</p>
		</a>
	</div>
	<div class="col ft_#lips" style="grid-area: col3;">
		<h4>#LIPS</h4>
		<a href="#">
			<p>About LIPS</p>
		</a> <br />
		<a href="#">
			<p>Event</p>
		</a> <br />
		<a href="#">
			<p>Press Release</p>
		</a> <br />
		<a href="#">
			<p>Contact Us</p>
		</a> <br />
		<a href="#">
			<p>Join Us</p>
		</a>
	</div>
	<div class="col ft_contact col_last" style="grid-area: col4;">
		<h4>Contact</h4>
		<p>Email: </p><a href="info@lips-hci.com">info@lips-hci.com</a> <br />
		<p>Tel: </p><a href="#">(+886) 02-8791-6998</a> <br /><br /><br />
		<h4>Get Our Latest Updates</h4>
		<form action="#" method="post" id="email">
			<div class="row">
				<input type="text" value="Email Address" />
				<a class="btn-link" href="#"><span>Subscribe</span></a>
			</div>
		</form>
		<br />
		<a href="https://www.linkedin.com/uas/login?session_redirect=%2Fcompany%2F15145877%2F"><img src="../layouts_user/image/linkedin.png" alt="linkedin"></a>
		<a href="https://www.facebook.com/lipshci/"><img src="../layouts_user/image/facebook.png" alt="facebook"></a>
		<a href="https://www.youtube.com/channel/UCmlsps2r8FY2SHQQtM3QkmA"><img src="../layouts_user/image/youtube.png" alt="youtube"></a>
		<a href="https://twitter.com/lips_corp"><img src="../layouts_user/image/twitter.png" alt="twitter"></a>
	</div>
	<div class="copyright" style="grid-area: copyright;">
		<p>©2023 by LIPS Corporation. All rights reserved.</p>
	</div>
	<div class="scroll"><button><i class="fa-solid fa-circle-chevron-up"></i></div>
	<div class="chatbox"><button><i class="fa-regular fa-comment-dots"></i></div>
	<div class="clr"></div>
</div>
