<div id="header">
  <nav class="navbar">
    <!--Logo-->
    <div class="navbar_logo">
      <a href="/">
        <img class="navbar_logo--img" src="../layouts_user/image/LIPS_Logo.png" alt="Lips logo">
      </a>
    </div>
    <!--Login-Language-->
    <div class="navbar_top-right">
      <div class="navbar_login">
        <img src="../layouts_user/image/login_logo.png" height="25px" alt="login logo">
        <a class="login_btn btn-link" href="/admin/login"><span>Log In</span></a>
      </div>
      <div class="navbar_language">
        <img src="../layouts_user/image/usa.png" height="20px" alt="usa lang">
        <select class="navbar_language--select">
          <option>En</option>
          <option>Vie</option>
        </select>
      </div>
    </div>
    

    <!--Menu-->
    <div class="navbar_menu">
      <ul class="navbar_menu--list">
        <div class="product-select">
          <li class="navbar_menu--item"><a class="navbar_menu--item--text " href="">Product</a></li>
          <div class="product_detail">
              <div class="camera">
                  <a href="../product"><h4>LIPSedge™ 3D Camera Family</h4></a>
                  <h5>LIPSedge™ AE Series Ruggedized 3D Stereo Camera</h5>
                  <ul>
                      <li><a href="#">LIPSedge™ AE400</a></li>
                      <li><a href="#">LIPSedge™ AE430</a></li>
                      <li><a href="#">LIPSedge™ AE450</a></li>
                      <li><a href="#">LIPSedge™ AE470</a></li>
                  </ul>
                  <h5>LIPSedge™ S Series Ruggedized 3D Stereo Camera</h5>
                  <li><a href="#">LIPSedge™ S205p</a></li>
                  <h5>LIPSedge™ L Series High-Precision 3D Structured-Light Camera</h5>
                  <li><a href="#">LIPSedge™ L215u/L210u</a></li>
                  <h5>LIPSedge™ DL Series All-Purpose 3D ToF Camera</h5>
                  <ul>
                      <li><a href="#">LIPSedge™ DL</a></li>
                      <li><a href="#">LIPSedge™ DL400</a></li>
                  </ul>
                  <h5>LIPSedge™ M3 Series Embedded 3D ToF Camera</h5>
                  <li><a href="#">LIPSedge™ M3 LED</a></li>
                  <h5>LIPSedge™ AT Series Standalone 3D ToF Camera</h5>
                  <li><a href="#">LIPSedge™ AT</a></li>
              </div>
              <div class="middleware">
                  <a href="#"><h4>3DxAI Edge Accelerator Family</h4></a> 
                  <h5>LIPSedge™ F Series Edge Accelerator</h5>
                  <li><a href="#">LIPSedge™ F110</a></li>
                  <br/><br/><br/>
                  <a href="#"></a><h4>LIPSense™ Middleware & Applications</h4></a>
                  <h5>LIPSense™ 3D Body Pose Middleware</h5>
                  <li><a href="#">LIPSense™ 3D Body Pose SDK</a></li>
                  <h5>LIPScan™ 3D Scanning Middleware & Applications</h5>
                  <ul>
                      <li><a href="#">LIPScan™ 3D Scan SDK</a></li>
                      <li><a href="#">LIPScan™ 3D Scan Desktop Software</a></li>
                  </ul>
                  <h5>LIPFace™ Facial Recognition Middleware</h5>
                  <ul>
                      <li><a href="#">LIPFace™ SW200 2D Facial Recognition SDK</a></li>
                      <li><a href="#">LIPFace™ SW500 3D Facial Recognition <br /> & Liveness Detection SDK</a></li>
                  </ul>
              </div>
          </div>
        </div>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text " href="#">Solution</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text " href="#">Developer</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text " href="/blog">Blog</a>
        </li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text " href="#">Support</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text " href="#">Company</a></li>
        <li class="navbar_menu--item">
          <a class="cart " href="#"><img src="../layouts_user/image/cart.png" height="25px" alt="cart"></a>
        </li>
        <li class="navbar_menu--item">
          <a class="navbar_menu--buy-btn btn-link" href="#"><span>Buy</span></a>
        </li>
      </ul>
    </div>
    <div class="clr"></div>
  </nav>
</div>
