<div class="wrapper-product">
    <h2>LIPSedge™</h2>
    <h4>Powerful 3D Camera Solution</h4>
    <div class="top-product">
        <div class="ae">
            <div class="ae-button"><a href="#"><span>AE Series</span></a></div>
            <img src="https://static.wixstatic.com/media/480a0e_79c9280a242f48e5861ed06153d5913b~mv2.png/v1/fill/w_225,h_118,al_c,q_95,enc_auto/LIPSedge-AE400-L.png">
            <p>Ruggedized Active<br/> Stereo Camera</p>
            <div class="ae-types">
                <div class="ae400">
                    <a href="#"><span>AE400</span></a>
                    <ul class="product-func">
                        <li>Highest Depth <br/>Quality per Degree</li>
                        <li>Edge Ready</li>
                    </ul>
                </div>   
                <div class="ae450">
                    <a href="#"><span>AE450</span></a>
                    <ul class="product-func">
                        <li>See Further </li>
                        <li>Sense Wider</li>
                        <li>Edge Ready</li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="at">
            <div class="at-button"><a href="#"><span>AT</span></a></div>
            <img src="https://static.wixstatic.com/media/480a0e_5e929e1f602942f18e820965237e8da8~mv2.png/v1/fill/w_213,h_101,al_c,q_95,enc_auto/%E6%88%AA%E5%9C%96%202021-04-23%20%E4%B8%8B%E5%8D%886_15_16.png">
            <p>ToF Sensor <br/>With FPGA</p>
            <ul class="product-func">
                <li>High Performance <br/>Standalone ToF Camera</li>
                <li>FPGA Edge-Ready</li>
            </ul>
        </div>
        <div class="m3">
            <div class="m3-button"><a href="#"><span>M3 Series</span></a></div>
            <img src="https://static.wixstatic.com/media/480a0e_ee43bbb4cb0641a19deda67cf1b54f41~mv2.png/v1/fill/w_160,h_101,al_c,q_95,enc_auto/%E6%88%AA%E5%9C%96%202021-04-23%20%E4%B8%8B%E5%8D%886_27_06.png">
            <p>Compact ToF<br/> Depth Sensor</p>
            <ul class="product-func">
                <li>Optimized for Embedded <br/>application</li>
            </ul>
        </div>
        <div class="dl">
            <div class="dl-button"><a href="#"><span>DL Series</span></a></div>
            <img src="https://static.wixstatic.com/media/480a0e_a9212bc6570449178b93c593310afe53~mv2.png/v1/fill/w_180,h_95,al_c,q_95,enc_auto/%E6%88%AA%E5%9C%96%202021-04-23%20%E4%B8%8B%E5%8D%886_27_10.png">
            <p>All-purpose<br/> ToF Camera</p>
            <ul class="product-func">
                <li>ToF Camera with <br/>RGB image</li>
            </ul>
        </div>
    </div>
    <div class="bottom-product">
        <div class="l">

        </div>
        <div class="s">

        </div>
        <div class="video">

        </div>
        <div class="developer-bundle"><a href="#"><span>Developer Bundle (Camera + IPC)</span></a></div>
    </div>
</div>
