<div class="container-fluid company">
    <h2 class="title">Company</h2>
    <p class="description">MVTec Software GmbH is a leading international manufacturer of software for machine vision used in all demanding areas of imaging like the semiconductor industry, surface inspection, automatic optical inspection systems, quality control, metrology, medicine, or surveillance. In particular, software by MVTec enables new automation solutions for the Industrial Internet of Things by providing modern technologies like 3D vision, deep learning, and embedded vision.

        Furthermore, MVTec builds customized software solutions for machine vision – from consultancy, studies, and prototypes up to integrated products. Software solutions can be based on standard PC or embedded hardware (e.g., Arm®-based systems). Moreover, MVTec’s team has an excellent background in processing images of different kinds, including 3D, infrared, hyperspectral, and X-ray images. Learn more about our services and support solutions.</p>
</div>