<div class="slider">  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.mvtec.com/fileadmin/_processed_/a/9/csm_2020-header-industries_2dd31b9bf2.jpg"
                    class="d-block w-100" alt="slide">
            </div>
        </div>
    </div>
</div>