<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1.0">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/css/layouts_user/style.css">
	</head>
