<style>
	.link_animation_left {
		animation-name: link_off;
		position: absolute;
		color: orange;
		opacity: 0%;
		right: -105px;
		animation-duration: 0.8s;
	}
	
	a:hover .link_animation_left {
		animation-name: link_on;
		animation-duration: 0.8s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
	
	@keyframes link_on {
		to {
			opacity: 100%;
			transform: translateX(-82px);
		}
	}
	
	@keyframes link_off {
		from {
			opacity: 100%;
			transform: translateX(-82px);
		}
		
		to {
			opacity: 0%;
			transform: translateX(0px);
		}
	}
	
	.link_animation_right {
		position: absolute;
		right: -35px;
	}
</style>

<!-- Put into text (like tag 'p'), may be need to set the previos text to inline-block -->
<span class="link_animation link_animation_left z-3">&lt;</span><span class="link_animation link_animation_right z-3">&gt;</span>
