<div class="header">
	<nav class="navbar navbar-expand-lg nav-top">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-globe2 h3"></i> EN
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">VI</a></li>
						</ul>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn" type="submit"><i class="bi bi-search h4"></i></button>
				</form>
			</div>
		</div>
	</nav>
	<nav class="navbar navbar-expand-lg nav-bottom ">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"><img src="/layouts_admin/image/AlgoritLogo.png" height="80"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
						<a class="nav-link" href="/product">PRODUCTS
						</a>
						<ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Halcon</a></li>
							<li><a class="dropdown-item" href="#">Merlic</a></li>
							<li><a class="dropdown-item" href="#">Deep Learning Tool</a></li>
							<li><a class="dropdown-item" href="#">Embedded Vision</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
						<a class="nav-link" href="/services-support">SERVICES & SUPPORT</a>
						<ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Application Evaluation</a></li>
							<li><a class="dropdown-item" href="#">Training & Workshops</a></li>
							<li><a class="dropdown-item" href="#">Developers Corner</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
						<a class="nav-link" href="/application-areas">APPLICATION AREAS</a>
						<ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Industries</a></li>
							<li><a class="dropdown-item" href="#">Success Stories</a></li>
							<li><a class="dropdown-item" href="#">White Papers</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
						<a class="nav-link" href="/technologies">TECHNOLOGIES</a>
						<ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Deep Learning</a></li>
							<li><a class="dropdown-item" href="#">3D Vision</a></li>
							<li><a class="dropdown-item" href="#">Matching</a></li>
							<li><a class="dropdown-item" href="#">OCR & OCV</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
						<a class="nav-link" href="/company">COMPANY</a>
						<ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">That's Us</a></li>
							<li><a class="dropdown-item" href="#">Events</a></li>
							<li><a class="dropdown-item" href="#">News</a></li>
							<li><a class="dropdown-item" href="#">Jobs @mvtec</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/template">DEMO TEMPLATE</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
