<div class="header">
    <nav class="navbar navbar-expand-lg nav-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-globe2 h3"></i> EN
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">VI</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><i class="bi bi-search h4"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg nav-bottom">
        <div class="container-fluid">
            <!-- https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/mvtec_logo.svg -->
            <a class="navbar-brand" href="#"><img
                    src=""
                    height="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">PRODUCTS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Halcon</a></li>
                            <li><a class="dropdown-item" href="#">Merlic</a></li>
                            <li><a class="dropdown-item" href="#">Deep Learning Tool</a></li>
                            <li><a class="dropdown-item" href="#">Embedded Vision</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">SERVICES & SUPPORT</a>
                        <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Application Evaluation</a></li>
                            <li><a class="dropdown-item" href="#">Training & Workshops</a></li>
                            <li><a class="dropdown-item" href="#">Developers Corner</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">APPLICATION AREAS</a>
                        <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Industries</a></li>
                            <li><a class="dropdown-item" href="#">Success Stories</a></li>
                            <li><a class="dropdown-item" href="#">White Papers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">TECHNOLOGIES</a>
                        <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Deep Learning</a></li>
                            <li><a class="dropdown-item" href="#">3D Vision</a></li>
                            <li><a class="dropdown-item" href="#">Matching</a></li>
                            <li><a class="dropdown-item" href="#">OCR & OCV</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">COMPANY</a>
                        <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                            aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">That's Us</a></li>
                            <li><a class="dropdown-item" href="#">Events</a></li>
                            <li><a class="dropdown-item" href="#">News</a></li>
                            <li><a class="dropdown-item" href="#">Jobs @mvtec</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DOWNLOADS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="slider">  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.mvtec.com/fileadmin/_processed_/e/2/csm_mvtec-merlic-easy-to-use-software_e1694ee177.jpg"
                    height="680" class="d-block w-100" alt="slide">
                <div class="carousel-caption d-md-block">
                    <h2>MERIC 5.5 <span>available soon</span></h2>
                    <p>Learn all about the newest features <br>and register for our MERIC 5.5 webinar!</p>
                    <br>
                    <a href="#" class="frame-text fw-bold text-white">
                        <p>DISCOVER MORE <span><%- include('link_animation.ejs') %></span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
