<style>
	.footer {
		position: relative;
		top: 80vh;
		padding: 20px 0 0;
	}
	
	.footer .footer-box {
		width: var(--content-width);
		padding: 40px 0 30px;
		margin: 0 auto;
	}
	
	.footer-info-box {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	
	.footer-block {
		width: 100%;
		border-top: 1px solid;
	}
	
	.footer-block:first-child {
		border: none;
	}
	
	.footer-title h2 {
		font-size: 16px;
	}
	
	.footer-box-content {
		padding: 0 20px;
	}
	
	.footer-box-content:last-child {
		padding: 0 0;
	}
	
	.footer-col-box ul {
		padding-left: 15px;
	}
	
	.footer-content {
		font-size: 16px;
	}
	
	.req-demo-name {
		display: flex;
	}
	
	.first-name,
	.last-name {
		width: 47%;
	}
	
	.first-name {
		margin-right: 3%;
	}
	
	.last-name {
		margin-left: 3%;
	}
	
	.req-demo-form>* {
		margin: 5px 0;
	}
	
	.req-demo-form:first-child {
		margin-top: 15px;
	}
	
	.req-demo-name,
	.req-demo-mail {
		width: 100%;
	}
	
	.req-demo-submit {
		background: white;
		border: Solid 1px;
		border-radius: 5px;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.req-demo-submit:hover {
		background-color: var(--navbar-link-hover-color);
		color: white;
	}
	
	.social-network {
		display: flex;
		margin-top: 25px;
	}
	
	.social-network>* {
		margin-right: 10px;
	}
	
	.footer-logo {
		margin-left: calc(50% - 168px / 2);
	}
	
	.footer-comp-info {
		text-align: center;
	}
	
	.footer-comp-info h4 {
		margin: 10px 0
	}
	
	.footer-comp-info p {
		margin: 0;
	}
	
	.footer-cer-logos {
		display: flex;
		width: max-content;
		margin: 15px auto 0;
	}
	
	.footer-cer-logo {
		display: inline-block;
		margin: 0 10px;
	}
	
	.copyright {
		padding: 10px 0 !important;
		text-align: center;
	}
	
	@media (max-width: 1150px) {
		.footer .footer-box {
			width: var(--content-width-md);
		}
	}
	
	@media (max-width: 950px) {
		.footer .footer-box {
			width: 720px;
		}
		
		.footer-box-content{
			width: calc(50% - 40px);
		}
	}
	
	
	@media (max-width: 720px) {
		.footer .footer-box {
			width: var(--content-width-sm);
		}
		
		.footer-box-content,
		.footer-box-content:last-child {
			width: 90%;
			padding: 0 5%;
		}
	}
</style>

<div class="container-fluid footer page-bg-3 w-100">
	<div class="footer-block">
		<div class="footer-box">
			<div class="row">
				<div class="footer-box-content col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<div class="footer-col-box">
						<div class="footer-title">
							<h2>About us</h2>
						</div>
						<ul>
							<a href="#">
								<li class="footer-content"> Home page </li>
							</a>
							<a href="#">
								<li class="footer-content"> About us </li>
							</a>
							<a href="#">
								<li class="footer-content"> News </li>
							</a>
							<a href="#">
								<li class="footer-content"> News </li>
							</a>
							<a href="#">
								<li class="footer-content"> News </li>
							</a>
						</ul>
					</div>
				</div>
				<div class="footer-box-content col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<div class="footer-col-box">
						<div class="footer-title">
							<h2>Products and services</h2>
						</div>
						<ul>
							<a href="#">
								<li class="footer-content"> Products </li>
							</a>
							<a href="#">
								<li class="footer-content"> Services </li>
							</a>
							<a href="#">
								<li class="footer-content"> Contact </li>
							</a>
							<a href="#">
								<li class="footer-content"> Contact </li>
							</a>
						</ul>
					</div>
				</div>
				<div class="footer-box-content col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<div class="footer-col-box">
						<div class="footer-title">
							<h2>More...</h2>
						</div>
						<ul>
							<a href="#">
								<li class="footer-content"> Blog </li>
							</a>
							<a href="#">
								<li class="footer-content"> Event </li>
							</a>
							<a href="#">
								<li class="footer-content"> Our story </li>
							</a>
							<a href="#">
								<li class="footer-content"> Our story </li>
							</a>
							<a href="#">
								<li class="footer-content"> Our story </li>
							</a>
							<a href="#">
								<li class="footer-content"> Our story </li>
							</a>
						</ul>
					</div>
				</div>
				<div class="footer-box-content col-xs-12 col-sm-4 col-md-3 col-lg-3">
					<div class="footer-col-box">
						<div class="footer-title">
							<h2>Request a demo</h2>
						</div>
						<form class="req-demo-form" action="#" method="POST">
							<div class="req-demo-name">
								<input class="first-name" type="text" name="first-name" id="first-name" placeholder="First name">
								<input class="last-name" type="text" name="last-name" id="last-name" placeholder="Last name">
							</div>
							<input class="req-demo-mail" type="email" name="email" id="email" placeholder="Email address">
							<div class="capcha">
								There is </br>
								capcha-placeholder
							</div>
							<input class="req-demo-submit" type="submit" value="Submit">
						</form>
						<div class="social-network">
							<a href="#" class="sn-link">
								<img loading="lazy" width="40" height="33" src="/template/temas/img/fb-logo.png">
							</a>
							<a href="#" class="sn-link">
								<img loading="lazy" width="40" height="33" src="/template/temas/img/zalo-logo.png">
							</a>
							<a href="#" class="sn-link">
								<img loading="lazy" width="40" height="33" src="/template/temas/img/youtube-logo.png">
							</a>
							<a href="#" class="sn-link">
								<img loading="lazy" width="40" height="33" src="/template/temas/img/linkedin-logo.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-block">
		<div class="footer-box footer-info-box">
			<a class="footer-logo" href="#">
				<img loading="lazy" height="53" width="168" style="max-height: 55px;" class="logoSite" src="/layouts_admin/image/AlgoritLogo.png" alt="ALGORIT GROUP">
			</a>
			<div class="footer-comp-info">
				<h4><span style="font-size: 12pt;"><strong>ALGORIT GROUP</strong></span></h4>
				<p>
					<span style="font-size: 12pt;">
						<strong>
							<span style="font-size: 9pt;">
								Email:
								<a class="comp-mail" href="mailto:algorit@gmail.com" style="color: var(--navbar-link-hover-color); font-weight: 100;">algorit@gmail.com</a>
							</span>
						</strong>
					</span>
				</p>
				<p>
					<span style="font-size: 9pt;">
						<strong>Trụ sở:</strong>
						<span> 939/1B Kha Van Can Street, Linh Tay Ward, Ho Chi Minh City, Vietnam | </span>
					</span>
					<span style="font-size: 9pt;">
						<strong>Điện thoại:</strong>
						<span>
							<a href="tel:+842433861691">(+84) 9 4253 8652 </a>
							<a href="tel:+84942538652">/ 9 4253 8652</a>
						</span>
					</span>
				</p>
				<p>
					<span style="font-size: 9pt;">
						<strong>VP Hồ Chí Minh:</strong>
						<span>939/1B Kha Van Can Street, Linh Tay Ward, Ho Chi Minh City, Vietnam |
						</span>
					</span>
					<span style="font-size: 9pt;">
						<strong>Điện thoại:</strong>
						<span><a href="tel:+84942538652">(+84) 9 4253 8652 </a>
							<a href="tel:+84942538652">/ 9 4253 8652</a>
						</span>
					</span>
				</p>
				<p>
					<span style="font-size: 9pt;"><span>
							<strong>Workshop</span>:</strong> 939/1B Kha Van Can Street, Linh Tay Ward, Ho Chi Minh City, Vietnam |
						<strong>Điện thoại:</strong>
						<span>
							<a href="tel:+84942538652">(+84) 9 4253 8652 </a>
							<a href="tel:+84942538652">/ 9 4253 8652</a>
						</span>
					</span>
				</p>
				<p>
					<span style="font-size: 9pt;">
						<strong>Số GPKD:</strong>
						<span>0000000000 cấp ngày 01/01/1999 bởi Algorit group.</span>
					</span>
				</p>
			</div>
			<div class="footer-cer-logos">
				<a class="footer-cer-logo" href="#">
					<img loading="lazy" height="35" width="100" style="max-height: 38px;" class="logoSite" src="/layouts_admin/image/AlgoritLogo.png" alt="ALGORIT GROUP">
				</a>
				<a class="footer-cer-logo" href="#">
					<img loading="lazy" height="35" width="100" style="max-height: 38px;" class="logoSite" src="/layouts_admin/image/AlgoritLogoDark.png" alt="ALGORIT GROUP">
				</a>
			</div>
		</div>
	</div>
	<div class="footer-block">
		<div class="footer-box copyright">
			© Alogorit
		</div>
	</div>
</div>
