<div class="container-fluid services-support">
    <h2 class="title">Services & Support</h2>
    <p class="description">With a wide range of service and support options MVTec supports you to realize your machine
        vision task in the best possible way. The aim of our experts is to enable you to use MVTec products so you can
        deploy successful machine vision projects.</p>
    <div class="card mb-3 service-beginning">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://www.mvtec.com/fileadmin/_processed_/9/6/csm_mvtec_support-employee_talking_via_headset_4c4a2e8317.webp"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Service from the beginning</h5>
                    <p class="card-text">To ensure that you successfully implement your machine vision projects, our
                        experts are available to assist you, for example with feasibility studies or free application
                        evaluation.

                        You can also count on us when it comes to port our software to your platform. In our
                        product-specific training courses and in workshops tailored to your needs, you will receive
                        suitable application support - online or in person.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 software-support">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">You need software support?</h5>
                    <p class="card-text">Whenever you need help using our software your contact person at MVTec or your local sales partner will be happy to assist you.

                        Please do not forget to specify your system environment, i.e. the software version used, the computer/processor type, the operating system etc. as well as the exact error message. In addition, if you have questions about HALCON, it can be helpful to send a short HDevelop program and the corresponding image so that your contact person can reproduce the problem directly.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://www.mvtec.com/fileadmin/_processed_/b/6/csm_Interfaces_mvtec_061486f7e1.webp"
                    class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
</div>