<div class="footer">
	<div class="top-footer">
		<div class="footer-bg w-100"></div>
		<div class="footer-color-bg w-100"></div>
		<nav class="navbar navbar-expand-lg footer-redictlink">
			<div class="container-fluid">
				<div class="navbar-nav">
					<ul>
						<li>
							<div class="nav-link fw-bold"><a href="#">Company</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">About Us</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Success Stories</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Press Room</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Jobs</a></div>
						</li>
					</ul>
					<ul>
						<li>
							<div class="nav-link fw-bold"><a href="#">Products</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Halcon</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Merlic</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Deep Learning Tool</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Embedded Vision</a></div>
						</li>
					</ul>
					<ul>
						<li>
							<div class="nav-link fw-bold"><a href="#">Services & Support</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Application Evaluation</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Training & Workshops</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Developers Corner</a></div>
						</li>
					</ul>
					<ul>
						<li>
							<div class="nav-link fw-bold"><a href="#">Industries</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Automotive & Robotics</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Semiconductors</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Machinery</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Agriculture</a></div>
						</li>
					</ul>
					<ul>
						<li>
							<div class="nav-link fw-bold"><a href="#">Technologies</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Deep Learning</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">3D Vision</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">Matching</a></div>
						</li>
						<li>
							<div class="nav-link"><a href="#">OCR & OCV</a></div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="sub-footer">
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid" style="width: 95%;">
				<div class="navbar-nav">
					<ul>
						<li><a class="nav-link" href="#">Contact</a></li>
						<li><a class="nav-link" href="#">Imprint</a></li>
						<li><a class="nav-link" href="#">Terms And Conditions</a></li>
						<li><a class="nav-link" href="#">Privacy Policy</a></li>
						<li><a class="nav-link" href="#">Mvshop</a></li>
						<li><a class="nav-link" href="#">Partner Area</a></li>
						<li>
							<p class="nav-link">© Copyright 2024 - MVTec Software Gmbh</p>
						</li>
					</ul>
				</div>
				<div class="social-media">
					<a href=""><img src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/linkedin.svg">LINKEDIN</a>
					<a href=""><img src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/youtube.svg">YOUTUBE</a>
					<a href=""><img src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/iconmonstr-wechat-1.svg">WECHAT</a>
					<a href=""><img src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/iconmonstr-xing-3.svg">XING</a>
					<a href=""><img alt="rss" src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/social-media.svg">RSS</a>
				</div>
			</div>
		</nav>
	</div>
</div>
<button class="btn btn-secondary btn-scroll"><i class="bi bi-arrow-up"></i></button>
