.slide {
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: -110px;
}

.slide a {
    color: white;
    text-decoration: none;
    background: 0 0;
}

.slide .video-mask {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.slide .main-video {
    min-width: 100%;
    min-height: 100%;
    background: transparent url("/template/temas/img/01_Anh_bia.jpg") no-repeat 0 0;
    background-size: cover;
}

.slide video {
    display: inline-block;
    vertical-align: baseline;
}

.slide .slide-caption {
    z-index: 2;
    text-align: left;
    font-size: 20px;
    width: var(--content-width);
    
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    top: 40vh;
}

.slide .slide-caption h2 {
    font-size: 30px;
    font-weight: 600;
}

.slide .contact-btn {
    border-radius: 10px;
    background-color: var(--navbar-link-hover-color);
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
}

@media (max-width: 1150px) {
    .slide .slide-caption {
        width: var(--content-width-md);
    }
}

@media (max-width: 950px) {
    .slide .slide-caption {
        width: 755px;
    }
}

@media (max-width: 75px) {
    .slide .slide-caption {
        width: var(--content-width-sm);
    }
}
