<%- include('../elements/head') %>

<body>
	We currently not support login for mobile device, please use another device!
</body>
<script>
	setTimeout(function() {
		window.location.href = '/';
	}, 5000);
</script>

</html>
