<!DOCTYPE html>
<html lang="en">
<head>
    <title>LIPS Corporation</title>
    <meta charset="UtF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/layouts_user/css/blog/style.css">
    <link rel="stylesheet" type="text/css" href="/layouts_user/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/layouts_user/css/blog/form.css">
    <link rel="stylesheet" type="text/css" href="/layouts_user/css/navbar_footer/style.css">
    <link rel="stylesheet" type="text/css" href="/layouts_user/css/navbar_footer/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="/layouts_user/scripts/scroll.js" defer></script>
</head>