.container-fluid{
    width: 70%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.bottom-nav{
    background-color: #0070bb;
    #navbarNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-nav{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 0;
            width: 100%;
        }
        a{
            color: white;
        }
    }
}
.supplier{
    margin-top: 2rem;
    .card{
        max-height: 2.3rem;
    }
}
.footer{
    margin-top: 4rem;
}
.top-footer{
    .navbar-nav{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        width: 100%;
    }
}
.mid-footer{
    position: relative;
    a{
        color: white;
    }
    .color-bg{
        position: absolute;
        background-color:#232f3e;
        height: 100%;
        z-index: 1;
    }
    .navbar-nav{
        z-index: 2;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        width: 100%;
    }
    .payment{
        width: 20rem;
        img{
            height: 2rem;
        }
    }
}
.bottom-footer{
    position: relative;
    .color-bg{
        position: absolute;
        background-color:#131a22;
        height: 100%;
        z-index: 1;
    }
    .text{
        z-index: 2;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 710px) {
    .top-footer,.mid-footer,.bottom-nav{
        display: none;
    }
    .card{
        .card-text,.btn{
            display: none;
        }
    }
}