<div class="container-fluid application-areas">
    <h2 class="title">Application areas for machine vision software</h2>
    <p class="description">MVTec products are used in tens of thousands of applications in all demanding areas of
        imaging. Read our customers success stories to find out, how our software can be helpful in your applications.
        Or take a look at the highlighted industries to get an idea, what you can do with MVTec products. </p>
    <div class="industries">
        <h3>Industries that benefit from machine vision</h3>
        <p>As a multipurpose technology, machine vision is not just limited to individual industries. Especially in
            modern production scenarios of the Industrial Internet of Things (IIoT aka Industry 4.0), almost every
            company can benefit from machine vision for cost reduction and optimization of processes. We have
            highlighted a few industries in particular to show you the possibilities of image processing software: </p>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-4">
                <a href="">
                    <div class="card">
                        <img src="https://www.mvtec.com/fileadmin/_processed_/5/5/csm_agriculture_machine_vision_f1fcfcc9fa.jpg"
                            class="card-img-top" alt="...">
                        <h4>Agriculture</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <a href="">
                    <div class="card">
                        <img src="https://www.mvtec.com/fileadmin/_processed_/e/e/csm_automotive_machine_vision_1ae860964c.jpg"
                            class="card-img-top" alt="...">
                        <h4>Automotive & Robotics</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <a href="">
                    <div class="card">
                        <img src="https://www.mvtec.com/fileadmin/_processed_/4/6/csm_solar_machine_vision_e0e902eeb5.jpg"
                            class="card-img-top" alt="...">
                        <h4>Electronics & solar</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>