<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MVTec Software - Experts for Machine Vision</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../css/home/style1.css">
</head>

<body>
    <<div class="header">
        <nav class="navbar navbar-expand-lg nav-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-globe2 h3"></i> EN
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">VI</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn" type="submit"><i class="bi bi-search h4"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg nav-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img
                        src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/mvtec_logo.svg"
                        height="80"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                            <a class="nav-link" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">PRODUCTS
                            </a>
                            <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Halcon</a></li>
                                <li><a class="dropdown-item" href="#">Merlic</a></li>
                                <li><a class="dropdown-item" href="#">Deep Learning Tool</a></li>
                                <li><a class="dropdown-item" href="#">Embedded Vision</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                            <a class="nav-link" href="#">SERVICES & SUPPORT</a>
                            <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Application Evaluation</a></li>
                                <li><a class="dropdown-item" href="#">Training & Workshops</a></li>
                                <li><a class="dropdown-item" href="#">Developers Corner</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                            <a class="nav-link" href="#">APPLICATION AREAS</a>
                            <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Industries</a></li>
                                <li><a class="dropdown-item" href="#">Success Stories</a></li>
                                <li><a class="dropdown-item" href="#">White Papers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                            <a class="nav-link" href="#">TECHNOLOGIES</a>
                            <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Deep Learning</a></li>
                                <li><a class="dropdown-item" href="#">3D Vision</a></li>
                                <li><a class="dropdown-item" href="#">Matching</a></li>
                                <li><a class="dropdown-item" href="#">OCR & OCV</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown position-static" style="border-right: 0.125rem solid #dbd9d3;">
                            <a class="nav-link" href="#">COMPANY</a>
                            <ul class="dropdown-menu dropdown-menu-level1 w-100 text-center text-uppercase" 
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">That's Us</a></li>
                                <li><a class="dropdown-item" href="#">Events</a></li>
                                <li><a class="dropdown-item" href="#">News</a></li>
                                <li><a class="dropdown-item" href="#">Jobs @mvtec</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DOWNLOADS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="slider">  
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/2/c/csm_2020_header-mvtec-diamond_775825fe29.jpg"
                        class="d-block w-100" alt="slide">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid portfolio">
        <h2 class="title">MVTec's product portfolio</h2>
        <p class="description">MVTec products are used in tens of thousands of applications in all demanding areas of imaging. Machine vision software from MVTec is invariably developed and manufactured right at the competence center in Munich.</p>
        <h3>What are you looking for?</h3>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-4">
                <a class="story" href="#">
                    <div class="card">
                        <img src="<%= stories[0].image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="nav">
                                <% for( let index = 0; index < stories[0].tag.length; index++ ) { %>
                                    <li><%= stories[0].tag[index] %></li>
                                <% } %>
                            </ul>
                            <h4><%= stories[0].title %></h4>
                            <div>
                                <p class="card-text"
                                    style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">
                                    <%= stories[0].description %>    </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <a class="story" href="#">
                    <div class="card">
                        <img src="<%= stories[1].image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="nav">
                                <% for( let index = 0; index < stories[1].tag.length; index++ ) { %>
                                    <li><%= stories[1].tag[index] %></li>
                                <% } %>
                            </ul>
                            <h4><%= stories[1].title %></h4>
                            <div>
                                <p class="card-text"
                                    style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">
                                    <%= stories[1].description %>    </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <a class="story" href="#">
                    <div class="card">
                        <img src="<%= stories[2].image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="nav">
                                <% for( let index = 0; index < stories[2].tag.length; index++ ) { %>
                                    <li><%= stories[2].tag[index] %></li>
                                <% } %>
                            </ul>
                            <h4><%= stories[2].title %></h4>
                            <div>
                                <p class="card-text"
                                    style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">
                                    <%= stories[2].description %>    </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>