<%- include('../elements/header') %>

<body>
	<%- include('../elements/navbar') %>
	
	<!--CONTENT-START-->
	<div id="blog-body">
		<%- include('../elements/post_create.ejs') %>
	</div>
	<%- include('../elements/footer') %>
</body>

</html>
