footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; }
  footer a {
    color: #fff;
    text-decoration: none; }
  footer .social {
    margin-top: 10px; }
    footer .social a {
      margin: 0 5px; }
