<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Login V1</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/login/vendor/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="/login/vendor/css-hamburgers/hamburgers.min.css">
		<link rel="stylesheet" type="text/css" href="/login/vendor/select2/select2.min.css">
		<link rel="stylesheet" href="/css/layouts_admin/style.css">
		<script src="/login/vendor/jquery/jquery-3.2.1.min.js" defer></script>
		<script src="/login/vendor/bootstrap/js/popper.js" defer></script>
		<script src="/login/vendor/bootstrap/js/bootstrap.min.js" defer></script>
		<script src="/login/vendor/select2/select2.min.js" defer></script>
		<script src="/login/vendor/tilt/tilt.jquery.min.js" defer></script>
	</head>
