<div class="footer">

    <div class="top-footer navbar navbar-expand">
        <div class="container-fluid">
            <ul class="navbar-nav gx-5">
                <li class="nav-item nav-link">
                    <span>(8428)22056688</span>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Open hours
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Electronic components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PCB online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Warranty</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mid-footer navbar navbar-expand">
        <div class="color-bg w-100"></div>
        <div class="container-fluid">
            <div class="navbar-nav gx-5">
                <ul>
                    <li>
                        <div class="nav-link fw-bold"><a href="#">About Thegioiic</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">About Us</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">Jobs and Careers</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">Corporate Profile</a></div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="nav-link fw-bold"><a href="#">Legal</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">Privacy Policy</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">Terms and Conditions</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">Warranty</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">Shipping method</a></div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="nav-link fw-bold"><a href="#">Sales service</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">How to order</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">How to buy Online</a></div>
                    </li>
                    <li>
                        <div class="nav-link"><a href="#">FAQs</a></div>
                    </li>
                </ul>
                <div class="connect nav-link">
                    <p class="fw-bold text-white">Connect Us</p>
                    <div class="row g-2">
                        <div class="col-4">
                            <a href=""><i class="bi bi-facebook"></i></a>
                        </div>
                        <div class="col-4">
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                        <div class="col-4">
                            <a href=""><i class="bi bi-twitter"></i></a>
                        </div>
                        <div class="col-4">
                            <a href=""><i class="bi bi-tiktok"></i></a>
                        </div>
                        <div class="col-4">
                            <a href=""><i class="bi bi-youtube"></i></a>
                        </div>
                        <div class="col-4">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <img class="cursor" alt="Thông báo bộ công thương" border="0" height="42" src="https://www.thegioiic.com/images/tbao.png">
                </div>
                <div class="payment nav-link">
                    <p class="fw-bold text-white">Payment methods</p>
                    <div class="row g-2" style="width:70%;">
                        <div class="col">
                            <a href=""><img class="rounded" alt="Momo" title="Momo" src="https://www.thegioiic.com/upload/large/43048.jpg"></a>
                        </div>
                        <div class="col">
                            <a href=""><img class="rounded" alt="Vnpay" title="Vnpay" src="https://www.thegioiic.com/upload/large/43049.jpg"></a>
                        </div>
                        <div class="col">
                            <a href=""><img class="rounded" alt="Thẻ ATM - Tài khoản ngân hàng nội địa" title="Thẻ ATM - Tài khoản ngân hàng nội địa" src="https://www.thegioiic.com/upload/large/43050.jpg"></a>
                        </div>
                        <div class="col">
                            <a href=""><img class="rounded" alt="Tiền mặt" title="Tiền mặt" src="https://www.thegioiic.com/upload/large/43051.jpg"></a>
                        </div>
                        <div class="col">
                            <a href=""><img class="rounded" alt="COD" title="COD" src="https://www.thegioiic.com/upload/large/49410.jpg"></a>
                        </div>
                        <div class="col">
                            <a href=""><img class="rounded" alt="Paypal" title="Paypal" src="https://www.thegioiic.com/upload/large/54245.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer navbar navbar-expand">
        <div class="color-bg w-100"></div>
        <div class="container-fluid">
            <ul class="text">
                <li><span>© Alogorit</span></li>
                <li>
                    <p>939/1B Kha Van Can Street, Linh Tay Ward, Ho Chi Minh City, Vietnam</p>
                </li>
                <li><span>(8428)22056688</span></li>
            </ul>
        </div>
    </div>
</div>