<div class="header">
    <nav class="top-nav navbar navbar-expand navbar-white navbar-light border-bottom">
        <div class="container-fluid">
            <div class="left">
                <i class="bi bi-telephone-fill"></i>
                <span>(028)22056688 | 0972924961</span>
            </div>
            <div class="right">
                <a href=""><i class="bi bi-bell"></i></a>
            </div>
        </div>
    </nav>
    <nav class="mid-nav navbar navbar-expand navbar-white navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn-search" type="submit"><i class="bi bi-search"></i></button>
            </form>
            <div class="login-cart">
                <a href=""><i class="bi bi-person-circle"></i></a>
                <a href=""><i class="bi bi-cart-fill"></i></a>
            </div>
        </div>
    </nav>
    <nav class="bottom-nav navbar navbar-expand">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav fs-5 gx-5">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PCB Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BOM tool</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>