<div class="product">
    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">New products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Featured products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Discount products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hot sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Free ship in Vietnam</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span>View more</span><i class="bi bi-chevron-right"></i></a>
            </li>
        </ul>
        <div class="product-list">
            <div class="all-product row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <% for( let index = 0; index < 5; index++ ) { %>
                    <div class="col-md-4 col-sm-12">
                        <div class="card">
                            <img src="<%= newProducts[0].image %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><%= newProducts[0].title %></h5>
                              <p class="card-text price"><%= newProducts[0].price %></p>
                              <span class="stock"><%= newProducts[0].stock %></span>
                            </div>
                          </div>
                    </div>        
                <% } %>
            </div>
            <div class="tab-box">
                <h3><a href="">ICs</a></h3>
                <ul class="nav">
                    <li class="nav-item"><a href="">Processors MPU & Microcontrollers MCU</a></li>
                    <li class="nav-item"><a href="">Programmable Logic Circuits</a></li>
                    <li class="nav-item"><a href="">Memory ICs</a></li>
                    <li class="nav-item"><a href="">Power Management ICs</a></li>
                    <li class="nav-item"><a href="">Interface ICs</a></li>
                    <li class="nav-item view-more"><a href=""><span>View more</span><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="ics-product row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <% for( let index = 0; index < 5; index++ ) { %>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="card">
                            <img src="https://www.thegioiic.com/upload/medium/45536.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">ATMEGA168PA-AU, 8bit AVR Microcontroller, 20MHz, 16kB Flash, 32 Pin TQFP</h5>
                              <p class="card-text price">$2.237</p>
                              <span class="stock">In stock: 98 </span>
                            </div>
                          </div>
                    </div>        
                <% } %>
            </div>
            <div class="tab-box">
                <h3><a href="">Boards, Modules, Debuggers</a></h3>
                <ul class="nav">
                    <li class="nav-item"><a href="">GPS, GSM, GPRS Modules</a></li>
                    <li class="nav-item"><a href="">Programmer, Debugger</a></li>
                    <li class="nav-item"><a href="">RF, WiFi, Bluetooth Modules</a></li>
                    <li class="nav-item"><a href="">Power Management ICs</a></li>
                    <li class="nav-item view-more"><a href=""><span>View more</span><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="board-product row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <% for( let index = 0; index < 5; index++ ) { %>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="card">
                            <img src="https://www.thegioiic.com/upload/medium/53886.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">ATMEGA168PA-AU, 8bit AVR Microcontroller, 20MHz, 16kB Flash, 32 Pin TQFP</h5>
                              <p class="card-text price">$2.237</p>
                              <span class="stock">In stock: 98 </span>
                            </div>
                          </div>
                    </div>        
                <% } %>
            </div>
            <div class="tab-box">
                <h3><a href="">Connectors, Sockets</a></h3>
                <ul class="nav">
                    <li class="nav-item"><a href="">Headers & Wire Housings</a></li>
                    <li class="nav-item"><a href="">IC Sockets</a></li>
                    <li class="nav-item"><a href="">Terminal Blocks</a></li>
                    <li class="nav-item view-more"><a href=""><span>View more</span><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="board-product row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <% for( let index = 0; index < 5; index++ ) { %>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="card">
                            <img src="https://www.thegioiic.com/upload/medium/21220.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">ATMEGA168PA-AU, 8bit AVR Microcontroller, 20MHz, 16kB Flash, 32 Pin TQFP</h5>
                              <p class="card-text price">$2.237</p>
                              <span class="stock">In stock: 98 </span>
                            </div>
                          </div>
                    </div>        
                <% } %>
            </div>
        </div>
    </div>
</div>