<div class="supplier">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="/template/thegioiic/img/2860.webp" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="/template/thegioiic/img/3156.webp" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="/template/thegioiic/img/15894.webp" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="/template/thegioiic/img/4563.webp" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="/template/thegioiic/img/7587.webp" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>