<div class="supplier">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="https://www.thegioiic.com/upload/medium/2860.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="https://www.thegioiic.com/upload/medium/3156.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="https://www.thegioiic.com/upload/medium/15894.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="https://www.thegioiic.com/upload/medium/4563.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-1 col-sm-4">
                <div class="card">
                    <img src="https://www.thegioiic.com/upload/medium/7587.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>