.dark_blue {
    background-color: #062d64;
}

.w-85 {
    width: 85% !important;
}

.fs-5-5 {
    font-size: 1.125rem !important;
}

.services {
    position: relative;
}

.services-1stbg {
    background-image: url('https://www.mvtec.com/fileadmin/Redaktion/10_tiles/header_service_support_homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.services-2ndbg {
    position: absolute;
    opacity: 80%;
    width: 100%;
    height: 100%;
}

.services-content {
    width: 85%;
    padding-top: 90px;
    background-size: cover;
    position: absolute;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
}

.services-title {
    width: 45%;
    max-width: 800px;
}

.services-content-text {
    width: 45%;
    max-width: 800px;
}

.services-wrap {
    position: absolute;
}

.services-buttons {
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    place-items: center;
    padding-bottom: 50px;
}

.services-button {
    width: 20%;
    min-width: 200px;
    margin: auto;
}

.services-button:hover>a .services-picture img {
    transform: scale(0.7);
    transition: all .5s;
}

.services-picture {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
}

.services-picture img {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
}

.services a {
    color: white;
}

@media (min-width: 1200px) {
    .services-wrap {
        padding-top: 90px;
        top: 0;
        right: 0;
    }
}

@media (max-width: 1200px) {
    .services-content-text {
        width: 100%;
    }
}
