<div class="slider">  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.mvtec.com/fileadmin/_processed_/e/2/csm_mvtec-merlic-easy-to-use-software_e1694ee177.jpg"
                    height="680" class="d-block w-100" alt="slide">
                <div class="carousel-caption d-md-block">
                    <h2>MERIC 5.5 <span>available soon</span></h2>
                    <p>Learn all about the newest features <br>and register for our MERIC 5.5 webinar!</p>
                    <br>
                    <a href="#" class="frame-text fw-bold text-white">
                        <p>DISCOVER MORE <span><%- include('link_animation.ejs') %></span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>