<div class="job-offer">
    <div class="job-offer-bg w-100"></div>
    <div class="job-offer-color-bg w-100"></div>
    <div class="container-fluid job-offer-content">
        <div class="col-md-6 job-offer-img">
            <img src="https://www.mvtec.com/fileadmin/Redaktion/01_teaser_startpage/colleagues_at_mvtec.png" width="502" height="400" class="img-fluid" alt="" title="Job Offer MVTec">
        </div>
        <div class="col-md-6 job-offer-text text-white">
            <div class="job-offer-title"><h2 class="fs-2 fw-bold"><span class="text-warning">YOU ARE</span> ENTHUSIASTIC ABOUT TECHNOLOGY, OPEN-MINDED AND CREATIVE?</h2></div>
            <div class="job-offer-description"><p class="fs-5">Then become part of our success story! If you would like to work interdivisional on
                innovative ideas in a collegial team, then apply now.</p></div>
            <a href="#" class="frame-text fw-bold text-white">
                <p>TO OUR JOB OFFERS <span><%- include('link_animation.ejs') %></span></p>
            </a>
        </div>
    </div>
</div>