<div class="container-fluid technologies">
    <h2 class="title">Technologies</h2>
    <p class="description">MVTec software offers speed, accuracy, and robustness for many machine vision applications, e.g., quality inspection, robot vision, and material flow control. For all challenges in machine vision, and especially in modern production scenarios of the Industrial Internet of Things (IIoT), our software products HALCON and MERLIC provide high-end technologies and best in practice solutions.</p>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a href="">
                <div class="card">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/7/d/csm_overview-bar-and-data-code-reading_c02cc4e28c.png"
                        class="card-img-top" alt="...">
                    <h4>Bar & Data Code Reading</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a href="">
                <div class="card">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/a/f/csm_overview-technologies-blob-analysis_bff5cb7b6b.png"
                        class="card-img-top" alt="...">
                    <h4>Blob Analysis</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a href="">
                <div class="card">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/1/a/csm_overview-detailview-classification_lut_acceleration_4031c359e6.png"
                        class="card-img-top" alt="...">
                    <h4>CLASSIFICATION/h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a href="">
                <div class="card">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/5/7/csm_HDR_656d78fa4c.png"
                        class="card-img-top" alt="...">
                    <h4>COMPUTATIONAL IMAGING</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a href="">
                <div class="card">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/c/9/csm_overview-deep_learning_web_9eea24712f.jpg"
                        class="card-img-top" alt="...">
                    <h4>DEEP LEARNING</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a href="">
                <div class="card">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/e/f/csm_overview-technologies-filtering_4ed3575bf8.jpg"
                        class="card-img-top" alt="...">
                    <h4>FILTERING</h4>
                </div>
            </a>
        </div>
    </div>
</div>