ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container-fluid{
    width: 85%;
}
.top-nav{
    color: #14345C;
    span{
        margin-left: 0.5rem;
    }
}
.bottom-nav{
    text-transform: uppercase;
    .nav-start{
        margin-left: 9.5rem;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        width: 65%;
    }
    .nav-link{
        color: #14345C;
    }
    .btn{
        padding: 0 2rem;
        border-radius: 1rem;
    }
}
.slide-main{
    img{
        height: 45rem;
    }
}
.bg-slide{
    background-image: url('/template/lips/img/slide.png');
    background-size: cover;
    height: 100%;
    background-position: center;
}

.product{
    margin-top: 6rem;
}
.product-type{
    .btn{
        background-color:#2e5d97;
        border-radius: 5rem;
        min-width: 13rem;
        min-height: 4rem;
        color: white;
        padding: 0.3rem;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }
    .active, .active:hover{
        background-color: #2e5d97;
        opacity: 1;
    }
    
}
#product-slide{
    margin-top: 4rem;
    text-align: center;
    .compare-buy{
        display: flex;
        justify-content: center;
        a{
            margin-top: 1rem;
            padding: 0.3rem 1rem;
            border-radius: 1rem;
        }
    }
}