<style>
	.archive {
		background-image: url("/template/temas/img/TuVan.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 385px;
		top: 80vh;
		z-index: 0;
	}
	
	.archive-mask {
		background-color: rgba(24, 54, 74, .4);
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
</style>

<div class="container-fluid archive w-100">
	<div class="archive-mask"></div>
	<div class="archive-status container-fluid">
		
	</div>
</div>
