<div class="container-fluid archive w-100">
	<div class="archive-mask"></div>
	<div class="archive-status container-fluid">
		<div class="row">
			<div class="archive-number col-7">
				<div class="row">
					<div class="archive-mumber-row col-6 text-center">
						<div class="archive-mumber-title">
							<h2>6+</h2>
							<div class="archive-number-subtitle">Work month</div>
						</div>
						<div class="archive-mumber-title">
							<h2>2+</h2>
							<div class="archive-number-subtitle">Projects</div>
						</div>
					</div>
					<div class="archive-mumber-row col-6 text-center">
						<div class="archive-mumber-title">
							<h2>2000+</h2>
							<div class="archive-number-subtitle">Clients</div>
						</div>
						<div class="archive-mumber-title">
							<h2>2000$</h2>
							<div class="archive-number-subtitle">Profit</div>
						</div>
					</div>
				</div>
			</div>
			<div class="archive-invite col-5">
				<div class="arrow">
					<img src="/template/temas/img/Arrow.png">
				</div>
				<div class="archive-invite-title">
					<h2>Take advice from us</h2>
				</div>
				<div class="archive-invite-content">
					There is advice content from us. There is advice content from us. There is advice content from us. There is advice content from us. There is advice content from us. There is advice content from us. There is advice content from us.
				</div>
				<div class="archive-invite-button">
					<a href="#">Send a question</a>
				</div>
			</div>
		</div>
	</div>
</div>
