<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Algorit Lab Temas Template</title>
		<link rel="stylesheet" type="text/css" href="\css\template_temas\style.css">
	</head>
