<div class="container-fluid hlBlog page-bg-3 w-100">
	<div class="hlBlog-title text-center">
		<h2>Blogs</h2>
	</div>
	<div class="hlBlog-items">
		<div class="row">
			<!-- 1150 -> 1150/950 -> 950 / 720 2 row -> 620 fw 1 row -->
			<div class="hlBlog-item col-4">
				<div class="blog-bg">
					<div class="blog-item-picture">
					</div>
				</div>
				<a href="#" class="hlBlog-link">
					<div class="blog-item-title">
						<div class="bt-content">
							<h2>There is title 1</h2>
						</div>
					</div>
				</a>
			</div>
			<div class="hlBlog-item col-4">
				<a href="#" class="hlBlog-link">
					<div class="blog-bg">
						<div class="blog-item-picture">
							
						</div>
					</div>
					<div class="blog-item-title">
						<div class="bt-content">
							<h2>There is title 2</h2>
						</div>
					</div>
				</a>
			</div>
			<div class="hlBlog-item col-4">
				<a href="#" class="hlBlog-link">
					<div class="blog-bg">
						<div class="blog-item-picture">
							
						</div>
					</div>
					<div class="blog-item-title">
						<div class="bt-content">
							<h2>There is title 3 There is title 3 There is title 3</h2>
						</div>
					</div>
				</a>
			</div>
		</div>
		
	</div>
	<div class="hlBlog-slider-controller">
		<div class="row"></div>
	</div>
</div>
