<nav class="navbar-1 navbar navbar-expand-lg container-fluid">
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item navbar-search">
				<form class="d-flex navbar-search-form" role="search">
					<input class="search-box form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn" id="search-btn" onclick="toggleSearchBox('.search-box', 'close-search-box', 'open-search-box')" href="#"><i class="bi bi-search h3"></i></button>
				</form>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Service</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About us</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					EN
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">VI</a></li>
				</ul>
			</li>
			<li class="nav-item login-button">
				<a title="Login" class="nav-link" href="#">Login</a>
			</li>
		</ul>
		
	</div>
</nav>

<nav class="navbar-2 navbar navbar-expand-lg bg-dark-tertiary sticky">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img class="LogoLight" src="/layouts_admin/image/AlgoritLogo.png" height="40">
			<img class="LogoBlack" src="/layouts_admin/image/AlgoritLogoDark.png" height="40">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Why us</a>
				</li>
				<li class="nav-item navbar-button">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
			
		</div>
	</div>
</nav>

<script>
	function toggleSearchBox(selector, active_animation_name, re_active_animation_name) {
		var event = window.event; // Access the event object
		
		if (event) {
			event.preventDefault(); // Prevent form submission
		}
		
		var searchBox = document.querySelector(selector);
		
		if (searchBox.classList.contains('active')) {
			searchBox.classList.remove('active');
			searchBox.style.animation = active_animation_name;
		} else {
			searchBox.classList.add('active');
			searchBox.style.animation = re_active_animation_name;
		}
	}
	
	window.addEventListener('scroll', function() {
		var navbar2 = document.querySelector('.navbar-2');
		var navbar1 = document.querySelector('.navbar-1');
		
		var distance = navbar1.getBoundingClientRect().bottom;
		
		if (window.pageYOffset >= distance) {
			navbar2.classList.add('sticky');
		} else {
			navbar2.classList.remove('sticky');
		}
	});
</script>
