<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/template/temas/img/01_Anh_bia.jpg" class="d-block w-100" alt="slide">
			<div class="carousel-caption d-md-block">
				<h2>START BUILDING<br> YOUR AUTOMATION STRATEGY TODAY</h2>
				<p>A suitable long-term strategy will help you improve <br>current factory productivity and meet your future vision</p>
				<button type="button" class="btn btn-danger">Contact Now</button>
			</div>
		</div>
		
		<nav class="navbar navbar-expand-lg bg-dark-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><img src="/template/temas/img/Temas-Logo-Red & white-01.png" height="40"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="#">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Service</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								EN
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">VI</a></li>
							</ul>
						</li>
						<!-- <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                            <button class="btn" type="submit"><i style = "color:white;" class="bi bi-search"></i></button>
                        </form> -->
					</ul>
					
				</div>
			</div>
		</nav>
	</div>
</div>
