<style>
	.products {
		position: relative;
		top: 80vh;
	}
</style>

<div class="container-fluid products page-bg-1 w-100">
	<div class="product-title text-center">
		<h2>Our Products</h2>
	</div>
	<div class="product-items">
		<div class="row">
			<div class="product-item col-4">
				
			</div>
		</div>
	</div>
</div>
