<div class="container products">
    <div class="product-title text-center">
        <h2>Our Products</h2>
    </div>
    <div class="section-product">
        <div class="row">
            <div class="col-md-12 product-bg">
                <div class="col-md-4 col-sm-6 col-xs-12 mb-margin-bottom-20">
                    <a href="#">
                        <div class="item item-product">
                            <div class="slz-icon-box2 theme-style-3">
                                <div class="icon-cell text-center">
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>