<div class="container services awe-section-2 awe-section-2-home" style="width: 1200px; ">
	<div class="row">
		<div class="col-md-12 service-bg">
			<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4">
				<div class="col mb-4">
					<div class="item">
						<div class="slz-icon-box-2 theme-style-3">
							<div class="box-hover-zoom">
								<img loading="lazy" src="/template/temas/img/01_Giai_phap_robot.webp" class="lazyload slz-icon-img" alt="Giải pháp robot" style="
                                    width: 100%;">
							</div>
							<div class="service-content-wrap" style="margin-top: 20px;">
								<div class="content-cell">
									Cung cấp đầy đủ giải pháp liên quan tới các dòng robot công nghiệp, robot để bàn, cartesian, scara, robot tương tác 6 trục.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-4">
					<div class="item">
						<div class="slz-icon-box-2 theme-style-3">
							<div class="box-hover-zoom">
								<img loading="lazy" src="/template/temas/img/01_Giai_phap_robot.webp" class="lazyload slz-icon-img img-fluid service-image" alt="Giải pháp robot" style="
                                    width: 100%;">
							</div>
							<div class="service-content-wrap" style="margin-top: 20px;">
								<div class="content-cell">
									Cung cấp đầy đủ giải pháp liên quan tới các dòng robot công nghiệp, robot để bàn, cartesian, scara, robot tương tác 6 trục.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-4">
					<div class="item">
						<div class="slz-icon-box-2 theme-style-3">
							<div class="box-hover-zoom">
								<img loading="lazy" src="/template/temas/img/01_Giai_phap_robot.webp" class="lazyload slz-icon-img" alt="Giải pháp robot" style="
                                    width: 100%;">
							</div>
							<div class="service-content-wrap" style="margin-top: 20px;">
								<div class="content-cell">
									Cung cấp đầy đủ giải pháp liên quan tới các dòng robot công nghiệp, robot để bàn, cartesian, scara, robot tương tác 6 trục.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col mb-4">
					<div class="item">
						<div class="slz-icon-box-2 theme-style-3">
							<div class="box-hover-zoom">
								<img loading="lazy" src="/template/temas/img/01_Giai_phap_robot.webp" class="lazyload slz-icon-img" alt="Giải pháp robot" style="
                                    width: 100%;">
							</div>
							<div class="service-content-wrap" style="margin-top: 20px;">
								<div class="content-cell">
									Cung cấp đầy đủ giải pháp liên quan tới các dòng robot công nghiệp, robot để bàn, cartesian, scara, robot tương tác 6 trục.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
