<style>
	.services {
		position: relative;
		display: block;
		top: 80vh;
		z-index: 10;
	}
	
	.services.container-fluid {
		width: var(--content-width);
	}
	
	.services .service-img {
		width: 100%;
	}
	
	.services .service-content-wrap {
		margin-top: 20px;
	}
	
	.services .service-item {
		height: 350px;
	}
</style>

<div class="container-fluid services">
	<div class="service-items">
		<div class="row">
			<% serviceItems.forEach(function(item) { %>
			<div class="col service-item">
				<div class="service-img-box">
					<img loading="lazy" src="/template/temas/img/01_Giai_phap_robot.webp" class="service-img" alt="Giải pháp robot">
				</div>
				<div class="service-content-wrap">
					<div class="content-cell">
						<%= item.description %>
						<!-- Assuming 'description' is the key for service description in serviceItems -->
					</div>
				</div>
			</div>
			<% }); %>
			
		</div>
	</div>
</div>
