<div class="header">
    <div class="container-fluid">
        <ul class="top-nav navbar justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-person-circle"></i><span>Log In</span></a>
            </li>
            <li class="nav-item dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-translate"></i><span>EN</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">JA</a></li>
                    <li><a class="dropdown-item" href="#">ZH</a></li>
                </ul>
            </li>
        </ul>
        <nav class="bottom-nav navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav-start navbar-nav fs-5 gx-5">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Solution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Developer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Company</a>
                    </li>
                </ul>
                <ul class="nav-end navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-cart-dash"></i></a>
                    </li>
                    <button class="btn btn-primary">BUY</button>
                </ul>
            </div>
        </nav>
    </div>
</div>