<div class="product">
    <div class="container-fluid">
        <div class="product-type">
            <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
                <div class="col-md-4 col-sm-12">
                    <button class="btn btn-primary active">
                        <span>Active Stereo Camera</span>
                    </button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <button class="btn btn-primary">
                        <span>Active Stereo Camera</span>
                    </button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <button class="btn btn-primary">
                        <span>Active Stereo Camera</span>
                    </button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <button class="btn btn-primary">
                        <span>Active Stereo Camera</span>
                    </button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <button class="btn btn-primary">
                        <span>Active Stereo Camera</span>
                    </button>
                </div>
                <div class="col-md-4 col-sm-12">
                    <button class="btn btn-primary">
                        <span>Active Stereo Camera</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="product-slide" class="carousel carousel-dark slide">
            <div class="container-fluid" style="width: 60%;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mb-3 border-0">
                            <div class="card-header fw-bold fs-2">LIPSedge™ AE400</div>
                            <div class="card-body">
                                <img src="/template/lips/img/product1.png" class="d-block w-100" alt="...">
                                <p class="card-text fw-bold fs-3">Ruggedized Industrial 3D Depth Camera</p>
                            </div>
                            <div class="card-footer"><span>FOV 87° x 58° x 95°</span>

                                <span>Global Shutter / IMU</span>
                                
                                <span>Range: 0.52 ~ 10+m</span></div>
                                <div class="compare-buy">
                                    <a href="#" class="btn btn-secondary">Compare</a>
                                    <a href="#" class="btn btn-primary ms-2">Buy</a>
                                </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mb-3">
                            <div class="card-header fw-bold fs-2">LIPSedge™ AE400</div>
                            <div class="card-body">
                                <img src="/template/lips/img/product2.png" class="d-block w-100" alt="...">
                                <p class="card-text fw-bold fs-3">Ruggedized Industrial 3D Depth Camera</p>
                            </div>
                            <div class="card-footer"><span>FOV 87° x 58° x 95°</span>

                                <span>Global Shutter / IMU</span>
                                
                                <span>Range: 0.52 ~ 10+m</span></div>
                                <div class="compare-buy">
                                    <a href="#" class="btn btn-secondary">Compare</a>
                                    <a href="#" class="btn btn-primary ms-2">Buy</a>
                                </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mb-3">
                            <div class="card-header fw-bold fs-2">LIPSedge™ AE400</div>
                            <div class="card-body">
                                <img src="/template/lips/img/product3.png" class="d-block w-100" alt="...">
                                <p class="card-text fw-bold fs-3">Ruggedized Industrial 3D Depth Camera</p>
                            </div>
                            <div class="card-footer"><span>FOV 87° x 58° x 95°</span>

                                <span>Global Shutter / IMU</span>
                                
                                <span>Range: 0.52 ~ 10+m</span></div>
                            <div class="compare-buy">
                                <a href="#" class="btn btn-secondary">Compare</a>
                                <a href="#" class="btn btn-primary ms-2">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#product-slide"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#product-slide"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>