<div class="product">
    <div class="container-fluid">
        <div class="product-type">
            <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
                <div class="col-md-4 col-sm-12">
                    <div class="box">
                        <span>Active Stereo Camera</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="box">
                        <span>Active Stereo Camera</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="box">
                        <span>Active Stereo Camera</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="box">
                        <span>Active Stereo Camera</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="box">
                        <span>Active Stereo Camera</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="box">
                        <span>Active Stereo Camera</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-slide carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#product-slide" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#product-slide" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#product-slide" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://static.wixstatic.com/media/480a0e_92b8ef0e3e5c4c9a88472ff9963e517d~mv2.png/v1/crop/x_0,y_88,w_600,h_266/fill/w_585,h_259,al_c,q_95,enc_auto/ae400-2_edited_edited.png"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://static.wixstatic.com/media/480a0e_4e9a079f78614c45b0e8e71ff9caecba~mv2.png/v1/fill/w_587,h_234,al_c,q_95,enc_auto/NEW_AE430_02.png"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://static.wixstatic.com/media/480a0e_abd31aa619234a46874b95abe623a320~mv2.png/v1/crop/x_0,y_1,w_3179,h_1410/fill/w_577,h_256,al_c,q_95,enc_auto/_MG_3319.png"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#product-slide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#product-slide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>