<div class="sense-the-world">
    <div class="container-fluid">
        <h2 class="title p-5 fs-1 fw-bold">Sense the World</h2>
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <img src="/template/lips/img/active-stereo-vision.png" class="card-img-top" alt="...">
                </div>
                <p class="fs-3 fw-bold">Active Stereo Vision</p>
                <button class="btn btn-primary rounded-circle"><i class="bi bi-chevron-down h3"></i></button>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="/template/lips/img/time-of-flight.png" class="card-img-top" alt="...">
                </div>
                <p class="fs-3 fw-bold">Time-of-Flight</p>
                <button class="btn btn-primary rounded-circle"><i class="bi bi-chevron-down h3"></i></button>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="/template/lips/img/structed-light.png" class="card-img-top" alt="...">
                </div>
                <p class="fs-3 fw-bold">Structured-Light</p>
                <button class="btn btn-primary rounded-circle"><i class="bi bi-chevron-down h3"></i></button>
            </div>
        </div>
    </div>
</div>